.Container {
padding: 70px 8%;
  background: #d9ff5c;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
  color: #cbffdf;
}
.Container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 40px;
  width: 140px;
  height: 40px;
  background: #d9ff5c;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}

.titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 60px;
    color: #4B6F1C;
}

.linha {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.linha::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgb(117, 0, 82);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}
.linhaItem {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.linhaContent {
    background: #7c003e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.rightItem {
    left: 50%;
}

.leftItem {
    left: 0;
    padding-right: 60px;
}

.rightItem {
    padding-left: 60px;
}

.anoBox {
    color: #fdbded;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #cbffdf;
}

.linhaCirculo {
    width: 16px;
    height: 16px;
    background-color: rgb(117, 0, 82);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    top: 25px;
}

.leftItem .linhaCirculo  {
    right: -8px; 
}

.rightItem .linhaCirculo  {
    left: -8px; 
}
@media screen and (max-width: 768px) {
    .Container{
        margin-top: 10rem;
    }
    .linha::after {
        left: 20px;
    }
    .linhaItem {
        width: 100%;
        padding-left: 60px; 
        padding-right: 15px;
        left: 0;
    }
    
    .leftItem .linhaCirculo ,
    .rightItem .linhaCirculo {
        left: 12px;
        right: auto;
    }

    .linhaContent {
        border-left: 4px solid #cbffdf; 
    }
}