.habilidades {
  padding: 80px 8%;
  text-align: center;
  color: white;
}

.circles {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.circle {
  width: 90px;
  height: 90px;
  background: #e8e8e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #121212;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}

.circle:hover {
  background: #00ff9d;
  transform: scale(1.1);
}

.circle span {
  position: absolute;
  bottom: -28px;
  font-size: 14px;
  color: white;
}
